.App {
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header{
  margin-top: 50px;
  color: white;
}
.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  margin-top: 150px;
}

.card{
  background-color: rgb(75, 13, 192);
}

p{
  color: white;
}

h3{
  color: white;
}

h4{
  color: white;
}